
whitenoise==3.3.1
chardet==2.2.1
colorama==0.2.5
django-forms-bootstrap==3.1.0
requests==2.2.1
six==1.5.2
stripe==2.0.1
wheel==0.24.0
Django==1.11
coverage==4.5.1
dj-database-url==0.5.0
gunicorn==19.9.0
psycopg2==2.7.5
pytz==2018.5
