<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Reset Password{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='register-section'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                
            <!-- Django Messages -->
            {% if messages %}
            <div class=' django-messages'>
                {% for message in messages %} 
                {{ message }} 
                {% endfor %}
            </div>
            {% endif %}
            
                <h1>Enter New Password</h1>
                <form method='POST' id='reset-form'>
                    {% csrf_token %}
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                     {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-success">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
