<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Reset Password{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='content-section'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                {% if messages %}
                <div class=' django-messages'>
                    {% for message in messages %} 
                    {{ message }} 
                    {% endfor %}
                </div>
                {% endif %}
                <h1>Password Reset</h1>
                <form method='POST'>
                    {% csrf_token %} 
                    <p>Please Enter Your Email Address</p>
                    {{ form.email.errors }}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-info">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}