<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Reset Password{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='register-section'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                {% if messages %}
                       <div class=' django-messages'>
                            {% for message in messages %} 
                            {{ message }} 
                            {% endfor %}
                        </div>
                {% endif %}
                <h1>Password Reset Sent</h1>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.</p>
                <p>You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}