<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Reset Password{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='content-section'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                
                <!-- Django Messages -->
                {% if messages %}
                <div class=' django-messages'>
                    {% for message in messages %} 
                    {{ message }} 
                    {% endfor %}
                </div>
                {% endif %}
                
                <h1>Password Reset Complete</h1>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <a type='btn btn-info' href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}