{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %} 
{% block page_title %}Edit Ticket{% endblock %} 
{% block content %}
    <h1>Edit Ticket</h1>
        <div class='col-xs-6'>
            <form method="POST">
                {% csrf_token %} {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-default">Save Changes</button>
            </form>
        </div>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% if user.is_staff == False %}
<script type="text/javascript" src="{% static 'js/hide_status.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/edit_ticket.js' %}"></script>
{% endblock %}
