<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}View Ticket{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='table-section'>
    <div class='container'>
        <div class='row'>
            
            {% if messages %}
            <div class=' django-messages'>
                {% for message in messages %} 
                {{ message }} 
                {% endfor %}
            </div>
            {% endif %}
            
            <h1> Tickets </h1>
            <div class="table-responsive">
                <table class='table '>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th class='mob-hide' scope="col">Author</th>
                            <th class='mob-hide' scope="col">Comments</th>
                            <th class='mob-hide' scope="col">Upvotes</th>
                            <th class='mob-hide' scope="col">Status</th>
                            <th class='mob-hide' scope="col">Date Created</th>
                            <th class='mob-hide' scope="col">Last Updated</th>
                            <th scope="col">Type</th>
                            <th scope="col"></th>
                            {% if ticket.status == 1 %} 
                                {% if user.username == ticket.username or user.is_staff %}
                                <th scope="col"></th>
                                <th scope="col"></th>
                                {%endif%} 
                            {% else %} 
                                {% if user.is_staff %}
                                <th scope="col"></th>
                                <th scope="col"></th>
                                {% endif %} 
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>
                                    <a class='ticket-link' href="{% url 'view_ticket' ticket.id %}">
                                        {{ ticket.title}}
                                    </a>
                                </td>
                                <td class='mob-hide'>
                                    <a href="{% url 'profile' ticket.author.id %}">
                                        {{ ticket.author }}
                                    </a>
                                </td>
                                <td class='mob-hide'>
                                    <i class="fa fa-comment comment"></i> 
                                    {{ ticket.comment_num }}
                                </td>
                                <td class='mob-hide'>
                                    <i class="fa fa-thumbs-up upvotes"></i>
                                    {{ ticket.upvotes }}
                                </td>
                                {% if ticket.status == 1 %}
                                    <td class='mob-hide'>
                                        Incomplete
                                    </td>
                                {% elif ticket.status == 2 %}
                                    <td class='mob-hide'>
                                        In Progress
                                    </td>
                                {% else %}
                                    <td class='mob-hide'>
                                        Complete
                                    </td>
                                {% endif %}
                                
                                <td class='mob-hide'>
                                    {{ ticket.date_created }}
                                </td>
                                <td class='mob-hide'>
                                    {{ ticket.date_updated }}
                                </td>
                                {% if ticket.ticket_type == 2%}
                                <td>
                                    <i class="fa fa-bug bug"></i>
                                </td>
                                {% else %}
                                <td>
                                    <i class="fa fa-lightbulb"></i>
                                </td>
                                {% endif %}
                                <td>
                                    <form method="GET" action="{% url 'view_ticket' ticket.id %}"><input class='btn btn-success' type="submit" value="View Ticket"></form>
                                </td>
                                {% if ticket.status == 1 %} 
                                    {% if user.username == ticket.username or user.is_staff %}
                                    <td>
                                        <form method="GET" action="{% url 'edit_ticket' ticket.id %}"><input class='btn btn-info' type="submit" value="Edit Ticket"></form>
                                    </td>
                                    <td>
                                        <form method="GET" action="{% url 'delete_ticket' ticket.id %}"><input class='btn btn-danger' type="submit" value="Delete Ticket" onclick="return confirm('Are you sure you want to permanently delete this ticket?')"></form>
                                    </td>
                                    {% endif %} 
                                    
                                {% else %} 
                                    {% if user.is_staff %}
                                    <td>
                                        <form method="GET" action="{% url 'edit_ticket' ticket.id %}"><input class='btn btn-info' type="submit" value="Edit Ticket"></form>
                                    </td>
                                    <td>
                                        <form method="GET" action="{% url 'delete_ticket' ticket.id %}"><input class='btn btn-danger' type="submit" value="Delete Ticket" onclick="return confirm('Are you sure you want to permanently delete this ticket?')"></form>
                                    </td>
                                    {% endif %} 
                                {% endif %}
                            </tr>
                        </tbody>
                        {% empty %}
                        <p>Empty</p>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        {% if tickets.has_other_pages %}
        <ul class="pagination">
            {% if tickets.has_previous %}
                <li><a href="?page={{ tickets.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %} 
            
            {% for i in tickets.paginator.page_range %} 
                {% if tickets.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} 
            {% endfor %} 
            
            {% if tickets.has_next %}
                <li><a href="?page={{ tickets.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %} 
    </div>
</section>
{% endblock %}
