<!-- Load Tags -->
{% extends 'base.html' %} 
{% block page_title %}User Index{% endblock %} 
{% load staticfiles %} 
{% load bootstrap_tags %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %} 
{% block content %}

<!-- Content -->
<section class='payment-section'>
    <div class='container '>
        <div class='row'>
            <div class='col-xs-12 '>
                
                <!-- Django Messages -->
                {% if messages %}
                    <div class=' django-messages'>
                        {% for message in messages %} 
                        {{ message }} 
                        {% endfor %}
                    </div>
                {% endif %}
                
                <h1>Payment</h1>
                <p> 
                You are about make a payment of ${{price}} 
                to {{purchase}}
                </p>
                <form method="POST">
                    <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button" 
                    data-key="pk_test_IBJngGZPWdOe7DwSaWs7ExIa"
                    data-amount='{{value}}' 
                    data-name="Issue Tracker"
                    data-description="{{description}}"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto" 
                    data-zip-code="true">
                    </script>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
