{% extends 'base.html' %} {% block page_title %}Users {% endblock %} {% block content %}
<h1> Tickets </h1>
<div class='col-xs-12'>
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Comments</th>
                <th scope="col">Upvotes</th>
                <th scope="col">Status</th>
                <th scope="col">Date Created</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>{% for item in tickets %}
            <tr>
                <td>
                    {{ item.title}}
                </td>
                <td>
                    {{ item.author }}
                </td>
                <td>
                    <i class="fa fa-comment comment"></i> {{ item.comment_num }}
                </td>
                <td>
                    <i class="fa fa-thumbs-up upvotes"></i> {{ item.upvotes }}
                </td>
                <td>
                    {{ item.status }}
                </td>
                <td>
                    {{ item.date_created }}
                </td>
                <td>
                    {{ item.date_updated }}
                </td>
                {% if item.ticket_type == 2%}
                <td>
                    <i class="fa fa-exclamation-triangle bug"></i>

                </td>
                {% else %}
                <td>
                    <i class="fa fa-lightbulb "></i>


                </td>
                {% endif %} {% if user.username == item.username %}
                <td>
                    <form method="GET" action="edit_ticket/{{item.id}}"><input class='btn btn-info' type="submit" value="Edit Ticket"></form>
                </td>
                {% endif %}
                <td>
                    <form method="GET" action="view_ticket/{{item.id}}"><input class='btn btn-success' type="submit" value="View Ticket"></form>
                </td>
            </tr>
        </tbody>

        {% empty %}
        <p>Empty</p>
        {% endfor %}
    </table>
</div>


{% endblock %}
