<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Register{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='content-section'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12 col-sm-6 col-md-6'>
                
                <!-- Django Messages -->
                {% if messages %}
                <div class=' django-messages'>
                    {% for message in messages %} 
                    {{ message }} 
                    {% endfor %}
                </div>
                {% endif %}
                
                <h1>Register</h1>
                <form method="POST">
                    {% csrf_token %} {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
                <br>
                <p>If you already have an account, you can <a href="{% url 'login' %}"> sign in here </a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
