<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}Register{% endblock %} 
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='content-section'>
    <div class='container'>
        
        <!-- Django Messages -->
        {% if messages %}
        <div class=' django-messages'>
            {% for message in messages %} 
            {{ message }} 
            {% endfor %}
        </div>
        {% endif %}
        
        <div class='row'>
        <div class='col-xs-12 col-sm-6 col-md-6'>
          <h1>Edit Profile</h1>
            <form method="POST">
                {% csrf_token %} 
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-success">Save Changes</button>
            </form>
            <br>
            <p><a href="{% url 'password_reset' %}">Want To Change Your Password?</a></p>
        </div>
        </div>
    </div>
</section>

{% endblock %}
