<!-- Load Tags -->
{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% load staticfiles %} 
{% block page_title %}
{{profile.first_name}}'s Profile{% endblock %}
{% block content %} 
{% block head_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% endblock head_js %}

<!-- Content -->
<section class='user-page'>
    <div class='container'>
        <!-- Django Messages -->
        {% if messages %}
            <div class=' django-messages'>
                {% for message in messages %} 
                {{ message }} 
                {% endfor %}
            </div>
        {% endif %}
            
        <h1>{{profile.first_name}}'s Profile</h1>
        <div class='row' id='profile-mob'>
            <div class='col-xs-12' >
                <h3>Username:</h3>
                <p> {{user.username}} </p>
                <h3>Name:</h3>
                <p>
                    {{profile.first_name}} 
                    {{profile.last_name}}
                </p>
                <h3>Email:</h3>
                <p>{{profile.email}}</p>
                <h3>Date Joined: </h3>
                <p>{{profile.date_joined}}</p>
                {% if user.is_staff %}
                    <h3>Position: </h3>
                    {% if profile.is_superuser %}
                        <p>Owner</p>
                    {% else %}
                        <p>Staff Member</p>
                    {% endif %} 
                {% else %}
                    <h3>Position: </h3>
                    <p>User</p>
                {% endif %}
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 ' id='profile-web'>
                <h3>Username:</h3>
                <p> {{profile.username}} </p>
                <h3>Date Joined:</h3>
                <p>{{profile.date_joined}}</p>
                {% if profile.is_staff %}
                    <h3>Position: </h3>
                {% if profile.is_superuser %}
                    <p>Owner</p>
                {% else %}
                    <p>Staff Member</p>
                {% endif %} 
                {% else %}
                    <h3>Position: </h3>
                    <p>User</p>
                {% endif %}
            </div>
            <div class='col-xs-6' id='profile-web2'>
                <h3>Name:</h3>
                <p>{{profile.first_name}} 
                {{profile.last_name}}</p>
                <h3>Email:</h3>
                <p>{{profile.email}}</p>
            </div>
        </div>
        {% if user.id == profile.id %}
        <div class='row'>
             <div class='col-xs-12' >
                <form method="GET" action="{% url 'edit_user' user.id %}">
                    <input class='btn btn-info' type="submit" value="Edit Profile">
                </form>
            </div>
            <br>
        </div>
        {% endif %}
        <div class='row'>
            <div class='col-xs-6' id='tickets'>
                <h3 class='tickets-h'>Most Recent Tickets:</h3>
                {% for z in tickets %}
                    <div class='col-xs-12'>
                        <h4>{{z.title}}</h4>
                        <p>Lasted Edited On {{z.date_updated}}</p>
                        <form method="GET" action="{% url 'view_ticket' z.id %}">
                            <input class='btn btn-success' type="submit" value="View Ticket">
                        </form>
                        <br>
                    </div>
                {% endfor %}
            </div>
            <div class='col-xs-6' id='comments'>
                <h3 class='comment-h'>Most Recent Comments:</h3>
                {% for i in comments %}
                    <div class='col-xs-12'>
                        <h4>{{i.comment}}</h4>
                        <p>Last Edited {{i.date_updated}}</p>
                        <form method="GET" action="{% url 'view_ticket' i.ticket.id %}">
                            <input class='btn btn-success' type="submit" value="View Ticket">
                        </form>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
