<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Document </h1>
        <table>
            {% for item in tests %}
            <tr>
                {% if item.done %}
                <td>
                    <strike>{{ item.username }}</strike>
                </td>
                {% else %}
                <td>
                    {{ item.username }}
                </td>
                 {% endif %}
                 <td>
                     <form method="GET" action="edit/{{item.id}}"><input type="submit" value="Edit"></form>
                 </td>
            </tr>
            {% empty %}
            <p>Empty</p>
            {% endfor %}
        </table>
        
        <a href="add_user">Add a User</a>
    </body>
</html>