{% extends 'base.html' %} {% block page_title %}Users {% endblock %} {% block content %}
<table>
    {% for item in tests %}
    <tr>
        {% if item.done %}
        <td>
            <strike>{{ item.username }}</strike>
        </td>
        {% else %}
        <td>
            {{ item.username }}
        </td>
        {% endif %}
        <td>
            <form method="GET" action="edit/{{item.id}}"><input type="submit" value="Edit"></form>
        </td>
    </tr>
    {% empty %}
    <p>Empty</p>
    {% endfor %}
</table>

<a href="add_user">Add a User</a> 
{% endblock %}

