{% load staticfiles %}
<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

    {% block head_js %}
    {% endblock head_js %}

</head>

<body>
    <div class='container'>

        <nav class="navbar navbar-header" id='main_nav'>
            
            <a class="navbar-brand" href="{% url 'index' %}">Issue Tracker</a>
            <div id='navbar' class='navbar-collapse collapse'>
                <ul class="nav navbar-nav ">
                    {% if user.is_authenticated %}
                    <li><a href="#">View Tickets</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a  href="#">Create Ticket</a></li>

                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %} {% if user.is_staff %}
                    <li><a href="{% url 'user_list' %}">Users</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
</div>
<div class='container'>
        <div class='row'>
            <h1>
                {% block page_heading %}{% endblock %}
            </h1>
            {% if messages %}
            <div>
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %} {% block content %}{% endblock %}

        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
</body>

</html>
