{% extends 'base.html' %} 
{% block page_title %}{{user}}'s Profile{% endblock %} 
{% block content %}

<h1>{{user}}'s Profile</h1>
<div class='col-xs-6 profile'>
    <h4>Username:</h4>
    <p> {{user.username}} </p>
    <h4>Name: :</h4>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <h4>Email:</h4>
    <p>{{user.email}}</p>
    <h4>Last Login:</h4>
    <p>{{user.last_login}}</p>
    <h4>Date Joined: </h4>
    <p>{{user.date_joined}}</p>
    <form method="GET" action="edit/{{user.id}}"><input class='btn btn-info' type="submit" value="Edit Profile"></form>
</div>
<div class='col-xs-6 tickets'>
    <h2>Tickets:</h4>
        <p>Empty</p>
</div>
<div class='col-xs-6 comments'>
    <h2>Comments:</h4>
        <p>Empty</p>
</div>


{% endblock %}
